/* Orange back #ffdfb6
background-image: linear-gradient(#ffdfb6 ,white,white,white,#ffdfb6  );

*/

.text-warning,
.btn-outline-warning {
  color: #ff8c19 !important;
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #ffffff !important;
}

#bodyCD {
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: left;
  background-image: linear-gradient(
    #babec4,
    white,
    white,
    white,
    white,
    white,
    white,
    #babec4
  );

  background-color: white;
}

input[type="radio"]:checked {
  background-color: #f4b400;
  color: #28a745;
}

input[type="radio"] {
  transform: scale(2);
  accent-color: #ff2e2d;
}
input[type="checkbox"] {
  transform: scale(1.5);
}

.centerCoreB {
  font-size: 0.25rem;
}

#quarterProgress {
  position: relative;
  left: 0px;
  width: 100%;
  height: 20px;
  border: 2px solid #0d2931;
  background-color: #fef9e7;
  background: linear-gradient(
    to right,
    #fef9e7 33%,
    #edf5f5 33% 66%,
    #ffffff 66%
  );
}

#quarterStatus {
  position: relative;
  z-index: 1;
  left: 0;
  margin-top: 0px;
  top: 0;

  float: left;

  width: 0;
  height: 98%;
  background: rgb(170, 255, 0);

  border-left: double 1px #aa272f;
  border-right: solid 6px #aa272f;
}

/* Analog Clock */

#clock-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
  background: url("img/clockDarshan5.2-min.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

#face {
  stroke-width: 1px;
  stroke: transparent;
  fill: transparent;
}

.centerCore {
  font-size: 3.5px;
}
#centerCoreG {
  fill: #ff2e2d;
  font-size: 3.5px;
}
#centerCoreD {
  font-size: 8px;
  fill: #ffffff;
}

.circle {
  display: none;
}

.selectedCD i {
  font-size: 1.1em;
}

small {
  font-size: 0.65em;
}

small.smallfocus {
  font-size: 0.6em;
  font-weight: 600;
}

i.cdicon {
  font-size: 2.1em;
  font-weight: bolder;
}

i.cdicon2 {
  font-size: 1em;
  font-weight: bolder;
}

#centerCoreM,
#centerCoreW,
#centerCoreE {
  font-size: 1.2em;
}

.bg-highlight {
  background-color: #aaff00;
}

.bg-highlight2 {
  background-color: #fef9e7;
}
